<%=simple_form_for [@recommendation, @recommendation.recratings.build] do |f|%>
  
    <div id="star-rating"></div>
  <%= f.input :title %><br>
  <%= f.input :context %><br>
  <%= f.button :submit , class:"btn btn-success"%>

<% end %>

<script>
  $('#star-rating').raty({
    path:'/assets/',
    scoreName: 'recrating[score]'
  })
</script>