<%=simple_form_for [@book, @book.bookratings.build] do |f|%>
  
  <div id="star-rating"></div>
  <%= f.input :title %><br>
  <%= f.input :context %><br>
  <%= f.button :submit , class: "btn btn-success" %>
<% end %>

<script>
  $('#star-rating').raty({
    path:'/assets/',
    scoreName: 'bookrating[score]'
  })
</script>